<div class="row">
  <div class="col-sm-8 col-md-6">
    <a href="/authors">
      <img class="mainImg" src="/images/authors.jpg" alt="...">
      <div class="caption">
        <h3>Authors</h3>
      </div>
    </a>
  </div>
  <div class="col-sm-8 col-md-6">
    <a href="/books">
      <img class="mainImg" src="/images/books.jpg" alt="...">
      <div class="caption">
        <h3>Books</h3>
      </div>
    </a>
  </div>
</div>
