<div class="row">
  <div class="col-sm-8 col-md-6">
    <div class="thumbnail">
      <img src="../images/authors.jpg" alt="...">
      <div class="caption">
        <h3>Authors</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-6">
    <div class="thumbnail">
      <img src="../images/books.jpg" alt="...">
      <div class="caption">
        <h3>Books</h3>
      </div>
    </div>
  </div>
</div>
