body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: university;
  src: url(University.otf);
}
main {
  width: 100%;
  margin: 0;
}
.navbar {
  border: none;
  background-color: #c5b358;
}
a {
  color: #00B7FF;
}
a:hover {
  text-decoration: none;
}
.navbar * {
  font-family: university;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #cfc075;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  background-color: #c5b358;
}
.btn-primary {
  color: black;
}

.btn-primary {
  background-color: #c5b358;
  border: none;
}
.btn-primary:hover {
  background-color: #cfc075;
  border: none;
}
.btn-primary:focus {
  background-color: #cfc075;
  border: none;
}
.btn-primary:active:focus {
  background-color: #cfc075;
  border: none;
}
.logo {
  width: 50px;
  height: 50px;
}
.mainImg {
  height: 500px;
  padding-left: 10px;
}
.caption {
  margin-left: 300px;
}
.caption * {
  font-family: university;
}
.articleContainer {
  background-color: rgb(232,232,232);
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.articleContainer h1 {
  text-align: center;
}
section {
  margin-top: 100px;
  float: left;
}
.sideImg {
  width: 200px;
  height: 90px;
  margin-right: 400px;
  margin-top: 50px;

}

.sideLink {
  width: 30px;
  margin-top: 140px;
  position: relative;
  transform: rotate(270deg);
}
.sideH3 {
  position: absolute;
  color: white;
  font-size: 36px;
  z-index: 1;
  margin-top: -70px;
  margin-left: 50px;
}
.bookCover {
  width: 180px;
}
article {
  margin-left: 50px;
  margin-bottom: 80px;
}
.name {
  float: left;
  width: 300px;
  margin: 0;
  margin-right: 100px;
}
.buttonGrp {
  float: left;
  width: 200px;
  margin: 0;
}
.lineGrp {
  height: 40px;
}
.hideForm {
  display: none;
}
.portrait {
  width: 180px;

}
